name: "Audit Dependencies"
on:
    push:
        paths:
            # Run if workflow changes
            - ".github/workflows/audit.yml"
            # Run on changed dependencies
            - "**/Cargo.toml"
            - "**/Cargo.lock"
            # Run if the configuration file changes
            - "**/audit.toml"
    # Rerun periodically to pick up new advisories
    schedule:
        - cron: "0 0 * * *"
    # Run manually
    workflow_dispatch:

jobs:
    audit:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            issues: write
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - uses: actions-rust-lang/audit@72c09e02f132669d52284a3323acdb503cfc1a24 # v1.2.7
              name: Audit Rust Dependencies
